/* Custom colours */

.duck-egg-blue {
  color: #66a3b7;
}

.bg-duck-egg-blue {
  background-color: #66a3b7;
}

.duck-egg-green {
  color: #648381;
}

.bg-duck-egg-green {
  background-color: #648381;
}

.light-green {
  color: #e2efde;
}

.azure-blue {
  color: #54c6eb;
}

.golden-yellow {
  color: #FFBF46;
}

.bg-golden-yellow {
  background-color: #FFBF46;
}

.bg-light-green {
  background-color: #e2efde;
}

.bg-azure-blue {
  background-color: #54c6eb;
}

.dusky-pink {
  color: #cda2ab;
}

.bg-dusky-pink {
  background-color: #cda2ab;
}

.faded-yellow {
  color: #ead94c;
}

.bg-faded-yellow {
  background-color: #ead94c;
}

.deep-egg-blue {
  color: #33658a;
}

.bg-deep-egg-blue {
  background-color: #33658a;
}

.egg-yolk {
  color: #f6ae2d;
}

.bg-egg-yolk {
  background-color: #f6ae2d;
}

.heslop-blue {
  color: #86bbd8;
}

.bg-heslop-blue {
  background-color: #86bbd8;
}

.fancy-link:link, .fancy-link:visited {
  background-color: transparent;
  box-shadow: inset 0 -.25rem 0 rgba(255, 99, 0, .2);
  color: rgba(255, 99, 0, 1);
  text-decoration: none;
  transition: color .15s ease-in;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: box-shadow .15s ease-in;
}
.fancy-link:hover {
  box-shadow: inset 0 -1.5rem 0 rgba(255, 99, 0, .2);
}

.iphone-mask {
    border-top-width: 4rem;
    border-bottom-width: 4rem;
}

.iphone-mask:before {
    background-color: #eee;
    border: 1px solid #eee;
    border-top-color: #e1e1e1;
    border-left-color: #e1e1e1;
    border-radius: .5em;
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: -2em;
    left: 40%;
    right: 40%;
    height: .5em;
}
.iphone-mask:after {
    border: .125em solid #eee;
    border-top-color: #e1e1e1;
    border-left-color: #e1e1e1;
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    margin-left: -1.25em;
    bottom: -3.25em;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
}

.iphone-mask .slick-dots {
    bottom: -6em;
    left: 0;
    right: 0;
}

.iphone-mask .slick-dots li button:before {
    color: #ff8030;
}

.iphone-mask .slick-dots li.slick-active button:before {
    color: #ff6300;
}

.aside-image {
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 16em;
}

@media screen and (min-width: 30em) {

}

@media screen and (min-width: 60em) {
  .aside-image {
    top: 2em;
    left: initial;
    right: 2em;
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 72em) {
  .aside-image {
    top: 1em;
    max-width: 32em;
  }
}


.ipad-mask {
    border-left-width: 4rem;
    border-right-width: 4rem;
}

.ipad-mask:before {
    background-color: #eee;
    border: 1px solid #eee;
    border-top-color: #e1e1e1;
    border-left-color: #e1e1e1;
    border-radius: .5em;
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -2em;
    transform: translate(0, -50%);
    width: .5em;
    height: 3.5em;
}
.ipad-mask:after {
    border: .125em solid #eee;
    border-top-color: #e1e1e1;
    border-left-color: #e1e1e1;
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    margin-left: -1.25em;
    right: -3.25em;
    top: 50%;
    width: 2.5em;
    height: 2.5em;
    transform: translate(0, -50%);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ff6300;
}
